@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.gdg_loading {
    background: url('../images/gdg_loading.gif') no-repeat 0 0 rgb(255, 255, 255);
    width: 64px;
    height: 64px;
}

.facebook-link a {
  color: #777;
}

.facebook-link a:hover {
    color: #3b5998;
}

.github-link a {
  color: #777;
}

.github-link a:hover {
    color: #000;
}

.twitter-link a {
  color: #777;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a {
  color: #777;
}

.google-plus-link a:hover {
    color: #d14836;
}

.website-link a {
  color: #777;
}

.website-link a:hover {
    color: #FBC02D;
}

.social-links li{
  margin: 0 8px 16px 0;
  font-size: 18px;
  display: inline-block;
}

.gray-bg {
	background: #f7f8f9;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

section {
	margin: 0;
	padding: 80px 0;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

img {
	 max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #222;
	line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Montserrat", sans-serif;
}

h1 {
	 font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	text-transform: uppercase;
	font-size: 16px;
}

h6 {
	font-size: 16px;
	font-family: "Varela Round", sans-serif;
}

small {
	font-family: "Droid", sans-serif;
}

b, strong {
	color: #222;
	-webkit-font-smoothing: auto;
}

a {
	color: #19a9e5;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

a:hover {
	color: #19a9e5;
	text-decoration: none;
}

a:focus {
  	outline: none;
  	text-decoration: none;
}

p a,
a.more {
	position: relative;
	-webkit-transition: none;
	transition: none;
}

p a:after,
a.more:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	margin: 0;
	width: 0%;
	height: 1px;
	background: #19a9e5;
	color: transparent;
	content: ".";
	text-align: left;
	opacity: 0;
}

p a:hover:after,
a.more:hover:after {
	z-index: -10px;
	width: 100%;
	opacity: 1;
	-webkit-animation: underline 1s forwards;
	animation: underline 1s forwards;
}

.no-padding {
	padding: 0 !important;
}

.centered {
	text-align: center;
}

.all-caps {
	text-transform: uppercase;
}

/* Vertical Center Content */
.vertical-center-wrapper {
	height: 100%;
}

.vertical-center-table {
	display: table;
	width: 100%;
	height: 100%;
}

.vertical-center-content {
	display: table-cell;
	vertical-align: middle;
}

.navbar-header a.logo {
  display: inline-block;
  margin-top: -20px;
  padding: 7px 26px;
}

.logo img {
  position: absolute;
  top: 3px;
  margin-top: -3px;
  width: 50px;
}

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

/* call-to-action buttons */
.cta {
	display: inline-block;
	margin-top: 20px;
	padding: 8px 22px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #fff;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

.cta:hover, .cta:active, .cta:focus {
	color: #fff;
	text-decoration: none;
}

.cta-default {
	background: #19a9e5;
}

.cta-stroke {
	margin-top: 22px;
	border: 2px solid #19a9e5;
	background-clip: padding-box;
	color: #19a9e5;
}

.cta-stroke:hover, .cta-stroke:focus {
	color: #19a9e5;
}

.cta-default:after,
.cta-stroke:after {
	position: relative;
	top: 0;
	display: inline;
	margin-left: 0;
	content: '\f054';
	font-weight: normal;
	font-size: 0;
	font-family: "FontAwesome";
	line-height: 1;
	opacity: 0;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.cta-default:hover:after,
.cta-stroke:hover:after {
	margin-left: 8px;
	font-size: 14px;
	opacity: 1;
}

.cta-transparent {
	border: 2px solid rgba(255, 255, 255, 0);
	background-color: rgba(34,34,34,.14);
	background-clip: padding-box;
}

.cta-transparent:hover {
	border: 2px solid #fff;
	background-color: rgba(34,34,34,.05);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.event-hero-info {

}

.event-hero-info small {
	font-size: 20px;
	margin-right: 35px;
}

.event-hero-info small span {
	color: #f6a006;
	margin-right: 20px;
}

.event-layout .hero-content a.cta {
	margin-top: 75px;
}

#hero {
	position: relative;
	overflow: hidden;
	padding: 0;
	height: 100vh;
	color: #fff;
	background-size: cover !important;
	background: url(../images/background.jpg) center center no-repeat;
	background-attachment: fixed !important;
	background-position: center top;
}

#hero .container {
	height: 100vh;
}

.hero-content p.lead {
	margin-bottom: 13px;
}

.hero-content h1,
.hero-content h2,
.hero-content h3,
.hero-content h4,
.hero-content h5,
.hero-content h6 {
	color: #fff;
}
.section-tab {
	margin-top: 5px;
}

.section-tab .tab-content {
	margin-top: 50px;
}

.section-tab .panel-group {
	margin-top: 5px;
}

.section-tab .side-feature {
	margin-bottom: 47px;
}

.section-tab .nav-tabs {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	border: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.section-tab .nav > li {
	margin: 0 4px;
}

.section-tab .nav > li > a {
	padding: 14px 55px;
	height: 50px;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #eaebeb;
	background-clip: padding-box;
	color: #777;
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
}

.section-tab .nav > li > a:hover {
	background: #dfe0e0;
}

.section-tab .nav > li.active > a {
	background: #19a9e5;
	color: #fff;
}

.section-tab .nav > li:first-child > a {
	-webkit-border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
}

.section-tab .nav > li:last-child > a {
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
}

.section-tab .nav-tabs > li.active > a,
.section-tab .nav-tabs > li.active > a:focus,
.section-tab .nav-tabs > li.active > a:hover {
	border: none;
}

/*Schedule Tab*/
.section-tab.schedule-tab .nav > li > a {
	height: 68px;
}
.content-tab-wrapper .nav-tabs {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	border-bottom: 1px solid rgba(25, 169, 229, 0.63);
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.content-tab-wrapper .nav-tabs > li > a {
	color: #777;
}

.content-tab-wrapper .nav-tabs > li > a:hover {
	padding: 11px 21px;
	border: none;
	background: none;
	color: #222;
}

.content-tab-wrapper .nav-tabs > li.active > a,
.content-tab-wrapper .nav-tabs > li.active > a:focus,
.content-tab-wrapper .nav-tabs > li.active > a:hover {
	padding: 11px 21px;
	border: none;
	background: none;
	color: #222;
}

.content-tab-wrapper .nav > li > a {
	padding: 10px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-transition: color .25s;
	transition: color .25s;
}

.content-tab-wrapper .nav-tabs > li.active:before,
.content-tab-wrapper .nav-tabs > li.active:after {
	position: absolute;
	top: 99%;
	left: 50%;
	width: 0;
	height: 0;
	border: solid rgba(0, 0, 0, 0);
	content: '';
	pointer-events: none;
}

.content-tab-wrapper .nav > li > a span[class^="icon-"] {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
}

.content-tab-wrapper .nav > li.active > a span[class^="icon-"] {
	color: #19a9e5;
}

.content-tab-wrapper .nav-tabs > li.active:before {
	margin-left: -11px;
	border-width: 11px;
	border-top-color: #19a9e5;
}

.content-tab-wrapper .nav-tabs > li.active:after {
	margin-left: -10px;
	border-width: 10px;
	border-top-color: #f7f8f9;
}

.tab-content {
	margin-top: 34px;
}

/* Custom page footer */
.footer {
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-size: 12px;
}

.footer .attribution a {
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Sponsorship benefits content */
.sponsor table {
  margin: auto;
  margin-bottom: 50px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.sponsor tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.sponsor th, .sponsor td {
  text-align: left;
  border-bottom: 2px solid black;
  padding-bottom: 7px;
  padding-top: 5px;
  display: table-cell;
  vertical-align: inherit;
}

.sponsor th {
  font-weight: bold;
}

.text-shadow-xsmall {
	text-shadow: 1px 1px 0 rgba(125,116,107,.75);
}

.text-shadow-small {
	text-shadow: 1px 2px 0 rgba(125,116,107,.75);
}

.text-shadow-medium {
	text-shadow: 0 2px 0 rgba(125,116,107,.75);
}

.text-shadow-large {
	text-shadow: 2px 3px 0 rgba(125,116,107,.75);
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  margin-bottom: 65px;
}

.list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.list-inline li {
  width: 28%;
  max-width: 180px;
  margin: 13px 7px;
}

p.section-title {
	color: #777;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	line-height: .9em;
}

p.section-title:after {
	display: block;
	margin: 0 auto;
	margin-top: 17px;
	width: 140px;
	height: 1px;
	background: #19a9e5;
	content: "";
}

.section-heading {
	margin-top: 42px;
	margin-bottom: 35px;
}

.event-date, .track-type {
	display: block;
    margin-top: 0px;
    font-size: 12px;
    text-transform: none;
}

.session-wrapper {
	background: #fff;
	margin-bottom: 20px;
	overflow: hidden;
	margin-left: 15px;
	margin-right: 15px;
}

.session-meta {

}

.session-meta-thumbnail {

}

.session-meta-thumbnail .color-overlay {
	background: rgba(34, 34, 34, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
}

.session-meta-thumbnail img {

}

.session-meta > .session-meta-info {
	position: absolute;
	z-index: 2;
	top: 0;
	padding: 26px 30px 26px 45px;
	width: 100%;
	color: #fff;
}

.session-meta > .session-meta-info > .session-info-time {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.session-meta > .session-meta-info > .session-info-time > span {
	font-size: 18px;
    margin-right: 12px;
    color: #f6a006;
}

.session-meta > .session-meta-info > .session-info-place {
	font-size: 18px;
}

.session-meta > .session-meta-info > .session-info-place > span {
	font-size: 17px;
    margin-right: 13px;
    color: #f6a006;
}

.session-description {
	padding: 22px 45px 22px 30px;
}

h4.session-title {
	margin-bottom: 15px;
}

.session-speaker {
	font-size: 14px;
	font-family: "Droid", sans-serif;
	font-style: italic;
	color: #999;
	margin-top: -4px;
}

.session-speaker span {
	color: #222;
	margin-right: 6px;
	font-size: 16px;
}

.session-break {
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    border: 3px dashed #dfe0e0;
}

.session-break .session-description {
	padding-right: 30px;
}

.session-break .session-break-time {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #f6a006;
}

.session-break .session-break-time span {
    font-size: 18px;
    margin-right: 8px;
}

.session-break .session-break-title {
	margin-bottom: 0;
}

#speaker_grid {
	margin-top: 8px;
}

.speaker-item {
	margin-bottom: 20px;
}

.speaker-item-content {
  position: relative;
  overflow: hidden;
}

.speaker-item-content img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.speaker-image {
  width: 200px;
  padding-right: 12px;
}

.speaker-item:hover .speaker-item-content img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.speaker-info {
  position: absolute;
  top: 78%;
  width: 100%;
  height: 100%;
  padding: 14px 20px 20px;
  background-color: rgba(34,34,34,.87);
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all .3s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.speaker-item:hover .speaker-info {
	top: 0;
}

.speaker-info h6 {
	margin-top: 5px;
	margin-bottom: 23px;
	color: #fff;
}

.speaker-info h6:after {
	display: block;
	margin: 0 auto;
	margin-top: 6px;
	width: 30px;
	height: 1px;
	background: #fff;
	content: "";
}

.speaker-info small {
	font-style: italic;
	font-size: 13px;
}

ul.speaker-social {
	margin-top: 16px;
}

ul.speaker-social li {
	display: inline-block;
	margin: 2px;
	border: 2px solid #777;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

ul.speaker-social li a {
	display: block;
	padding: 8px 9px;
	color: #777;
	font-size: 10px;
	line-height: .8em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (max-width: 991px) {
  /* NAVIGATION BAR*/
  .navbar-left {
    float: left !important;
  }
  
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in{
    display: block !important;
  }
}
