<footer id="footer" class="footer" ng-controller="FooterCtrl">
  <div class="container">
    <div class="row">
      <div class="pull-left col-md-6 col-xs-6">
        <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>
        <p></p>
      </div>
	</div>
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <h5>Links</h5>
        <ul>
          <li><a ng-href="{{ config.website }}" target="_blank">{{ config.name }}</a></li>
          <li><a href="https://developers.google.com/" target="_blank">Google Developers</a></li>
          <li><a ng-hide-auth="" href="#!/login">GDG Log In</a></li>
          <li><a ng-show-auth="" href="#!/account">GDG Account</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-6">
        <h5>Contact</h5>
        <ul>
          <li ng-if="config.eventEmail.length > 0"><a ng-href="{{ 'mailto:' + config.eventEmail }}" target="_blank">{{ config.eventEmail }}</a></li>
          <li ng-if="config.twitter.length > 0"><a ng-href="{{ 'http://twitter.com/home?status=@' + config.twitter }}" target="_blank">@{{ config.twitter }}</a></li>
        </ul>
      </div> 
      <div class="col-md-4 col-xs-6">
        <h5>FAQ</h5> 
        <ul>
          <li><a href="https://developers.google.com/events/devfest/" target="_blank">GDG DevFest Season</a></li>
          <li><a href="https://developers.google.com/groups/guidelines/" target="_blank">Code of Conduct</a></li> 
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <ul class="social-links">
          <li ng-if="config.id.length > 0" class="fa fa-google-plus-square" ng-click="socialLink('google_plus')"style="cursor: pointer;"></li>
          <li ng-if="config.facebook.length > 0" class="fa fa-facebook-official" ng-click="socialLink('facebook')"style="cursor: pointer;"></li>
          <li ng-if="config.twitter.length > 0" class="fa fa-twitter-square" ng-click="socialLink('twitter')"style="cursor: pointer;"></li>
          <li ng-if="config.github.length > 0" class="fa fa-github-square" ng-click="socialLink('github')"style="cursor: pointer;"></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <!-- *** Please don't delete this line *** -->
      <div class="col-md-6 col-xs-12 attribution">
        © 2015 {{ config.name }}<br />
        Designed and created by <a href="https://plus.google.com/+KylePaul" target="_blank">Kyle Paul</a> · <a href="http://gdgkc.org" target="_blank">GDG Kansas City</a>
      </div>
    </div>
  </div>
</footer>