<div class="header" ng-cloak="">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container navbar-right">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#devfest-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="devfest-navbar" ng-controller="HeaderCtrl">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/')}"><a href="#!/" data-toggle="collapse" data-target="#devfest-navbar">Home</a></li>
          <li ng-class="{ active: isActive('/schedule')}"><a href="#!/schedule" data-toggle="collapse" data-target="#devfest-navbar">Schedule</a></li>
          <li ng-class="{ active: isActive('/speakers')}"><a href="#!/speakers" data-toggle="collapse" data-target="#devfest-navbar">Speakers</a></li>
          <li ng-class="{ active: isActive('/about')}"><a href="#!/about" data-toggle="collapse" data-target="#devfest-navbar">About</a></li>
          <li ng-class="{ active: (isActive('/login') || isActive('/account'))}">
            <a ng-hide-auth="" href="#!/login" data-toggle="collapse" data-target="#devfest-navbar">Log In</a>
            <a ng-show-auth="" href="#!/account" data-toggle="collapse" data-target="#devfest-navbar">Account</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
