<section id="hero" class="event-layout">
  <div class="container">
    <div class="vertical-center-wrapper">
      <div class="vertical-center-table">
        <div class="vertical-center-content">
          <div class="hero-content row">
            <div class="col-md-10">
              <img src="images/devfest.png" width="40%" alt="{{ site.eventName }}" />
              <div class="event-hero-info text-shadow-medium">
                <small><span class="event-hero-icon fa fa-calendar"></span>{{ site.eventDate | date:'fullDate' }}</small><br />
                <small><span class="event-hero-icon fa fa-university"></span>{{ site.eventLocation }}</small>
              </div>
              <div>
                <a href ng-click="goto(site.speakerURL, 'button', 'click', 'Become A Speaker')" class="cta cta-default all-caps">Become A Speaker</a>
                <a href ng-click="goto(site.ticketURL, 'button', 'click', 'Buy Ticket')" class="cta cta-default all-caps">Buy Ticket</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="introduction" class="centered" style="padding-bottom: 15px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 centered">
        <p class="section-title">About GDG DevFest</p>
        <h2 class="section-heading">1&nbsp;Day, {{ site.sessionTracks }}&nbsp;Tracks, 12+&nbsp;Speakers, A&nbsp;lot&nbsp;of&nbsp;Attendees</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-10 col-md-offset-1">
        <p><strong>GDG DevFests</strong> are the largest Google related events in the world! Each DevFest is carefully crafted for you by your local GDG community to bring in awesome speakers, great topics, and lots fun! While no two events will be exactly alike, each GDG DevFest will, at its core, be powered by a shared belief that when developers come together to exchange ideas, amazing things can happen!</p>
      </div>
      <a href ng-click="goto(site.ticketURL, 'button', 'click', 'Get Ticket')" class="cta cta-default all-caps">Get Your Ticket</a>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<section id="location" style="padding-bottom: 15px;">
  <div map-lazy-load="{{ gMapLazy }}" map-lazy-load-params="{{ gMapsUrl }}">
    <map center="{{ map.center.lat }}, {{ map.center.lng }}" style="height: 400px;" zoom="{{ map.zoom }}" scrollwheel="false" map-type-control="false">
      <marker id="eventSpace" position="{{ map.lat }}, {{ map.lng }}"></marker>
      <info-window id="eventDetail" visible-on-marker="eventSpace">
        <div>
          <div id="siteNotice"></div>
          <h4 id="infoHeading"><strong>{{ site.eventName }} Location</strong></h4>
          <div id="infoBody">
            <p>
              {{ site.eventLocation }}<br />
              {{ site.eventAddress }}<br />
              {{ site.eventDate | date:'longDate' }}<br />
              {{ eventStart | date:'shortTime' }} - {{ eventEnd | date:'shortTime' }}
            </p>
          </div>
        </div>
      </info-window>
    </map>
  </div>
</section>
<section id="partners" ng-controller="SponsorshipCtrl">
  <div class="container centered">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 centered">
        <p class="section-title">Our Sponsors</p>
        <h2 class="section-heading">
          We partner with some of the world's most innovative&nbsp;brands<br />
          <!-- Add sessions (Auth required) -->
          <a ng-show-auth="" class="btn btn-sm btn-success" ng-click="openFormModal()">Add Sponsor</a>
        </h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-10 col-md-offset-1">
        <h4>General Sponsor</h4>
        <ul class="list-inline">
          <li><a href="https://www.google.com.ua/intl/en/about/" target="_blank"><img src="../images/google.png" title="Google" alt="Google" /></a></li>
          <li><a ng-href="{{ site.website }}" target="_blank"><img src="../images/gdg_group.png" title="{{ event.name }}" alt="{{ event.name }}" /></a></li>
        </ul>
        <span ng-repeat="(key, value) in sponsors | levelSorter:'level' | groupBy:'level'">
          <h4>{{ key }} Sponsor</h4>
          <ul class="list-inline">
            <li ng-repeat="sponsor in value">
              <a href ng-click="goto(sponsor.link, 'sponsor', 'click', '{{ sponsor.company }}')"><img ng-src="{{ sponsor.image }}" title="{{ sponsor.description }}" alt="{{ sponsor.company }}" /></a>
              <a ng-show-auth="" class="btn btn-sm btn-primary" ng-click="openFormModal(sponsor)">Edit</a>
              <a ng-show-auth="" class="btn btn-sm btn-danger" ng-click="deleteSponsor(sponsor)">Delete</a>
            </li>
          </ul>
        </span>
        <div>
          <a ng-href="#!/sponsorship" class="cta cta-default all-caps">Learn More</a>
          <a href ng-click="goto(site.sponsorURL, 'button', 'click', 'Become A Sponsor 1')" class="cta cta-default all-caps">Become A Sponsor</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Add/Edit Sponsor -->
  <script type="text/ng-template" id="modalSponsorForm.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">{{ sponsor.company ? 'Edit' : 'Add' }} Sponsor</h3>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <label for="company">Company:</label>
          <input type="text" id="company" class="form-control" ng-model="sponsor.company" placeholder="Company" required />
        </div>
        <div class="form-group">
          <label for="link">Link:</label>
          <input type="text" id="link" class="form-control" ng-model="sponsor.link" placeholder="http://example.com" required />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" id="description" class="form-control" ng-model="sponsor.description" placeholder="Text for mouse hover" required />
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="file" id="image" class="form-control" ng-model="sponsor.image" accept="image/x-png" required />
        </div>
        <div class="form-group">
          <label for="level">Sponsorship Level:</label>
          <select class="form-control" id="level" ng-model="sponsor.level" required>
            <option value="Gold">Gold</option>
            <option value="Silver">Silver</option>
            <option value="Bronze">Bronze</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <p ng-show="err" class="bg-danger">{{ err }}</p>
      <button class="btn btn-success" type="submit" ng-click="saveSponsor(sponsor)">Save</button>
      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</section>