<section id="schedule" class="gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
          <p class="section-title">Session Schedule</p>
          <h2 class="section-heading">
            <!-- Add sessions (Auth required) -->
            <a ng-show-auth="" class="btn btn-sm btn-success" ng-click="openFormModal()">Add Session</a>
          </h2>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="section-tab schedule-tab" role="tabpanel">
        <ul class="nav nav-tabs centered" role="tablist">
          <li role="presentation" ng-class="{active: isTab(1)}">
            <a href ng-click="setTab(1)" aria-controls="one" role="tab" data-toggle="tab">
              Mobile / Android<span class="track-type">Track One</span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: isTab(2)}">
            <a href ng-click="setTab(2)" aria-controls="two" role="tab" data-toggle="tab">
              Cloud / Web<span class="track-type">Track Two</span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: isTab(3)}">
            <a href ng-click="setTab(3)" aria-controls="three" role="tab" data-toggle="tab">
              Workshops<span class="track-type">Track Three</span>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" ng-show="isTab(1)" ng-repeat="session in sessions | filter:{track: '1'}:true | orderBy:'time'">
            <session-tabpanel model="session" edit-session="editSession(session)" delete-session="deleteSession(session)"></session-tabpanel>
          </div>
          <div role="tabpanel" class="tab-pane fade in active" ng-show="isTab(2)" ng-repeat="session in sessions | filter:{track: '2'}:true">
            <session-tabpanel model="session" edit-session="editSession(session)" delete-session="deleteSession(session)"></session-tabpanel>
          </div>
          <div role="tabpanel" class="tab-pane fade in active" ng-show="isTab(3)" ng-repeat="session in sessions | filter:{track: '3'}:true">
            <session-tabpanel model="session" edit-session="editSession(session)" delete-session="deleteSession(session)"></session-tabpanel>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Add/Edit Session -->
  <script type="text/ng-template" id="modalSessionForm.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">{{ session.title ? 'Edit' : 'Add' }} Session</h3>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" class="form-control" ng-model="session.title" placeholder="Session Title" required />
        </div>
        <div class="form-group">
          <label for="room">Room:</label>
          <input type="text" id="room" class="form-control" ng-model="session.room" placeholder="Ballroom A" required />
        </div>
        <div class="form-group">
          <label for="time">Time:</label>
          <input type="text" id="time" class="form-control" ng-model="session.time" placeholder="HH:mm:ss" required />
        </div>
        <div class="form-group">
          <label for="speaker">Speaker:</label>
          <input type="text" id="speaker" class="form-control" ng-model="session.speaker" placeholder="Full Name" required />
        </div>
        <div class="form-group">
          <label for="track">Track #:</label>
          <select class="form-control" id="track" ng-model="session.track" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea name="description" id="description" class="form-control" ng-model="session.description" placeholder="Enter a description" required></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <p ng-show="err" class="bg-danger">{{ err }}</p>
      <button class="btn btn-success" type="submit" ng-click="saveSession(session)">Save</button>
      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</section>