<!-- Speaker Profiles -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Speakers</h2>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450">
        <div class="caption">
          <h3>John Smith<br />
            <small>Job Title</small>
          </h3>
          <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
          <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social google-plus-link">
              <a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">
                <i class="fa fa-google-plus-square fa-2x"></i>
              </a>
            </li>
            <li class="tooltip-social facebook-link">
              <a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="fa fa-facebook-square fa-2x"></i>
              </a>
            </li>
            <li class="tooltip-social twitter-link">
              <a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="fa fa-twitter-square fa-2x"></i>
              </a>
            </li>
            <li class="tooltip-social github-link">
              <a href="#github-profile" data-toggle="tooltip" data-placement="top" title="GitHub">
                <i class="fa fa-github-square fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>